<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Expense Tracker</title>
		
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		
		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" defer></script>
		<script src="/expenseTemp.template.js" charset="utf-8" defer></script>
		<script src="/{{js}}.js" charset="utf-8" defer></script>

	</head>
	<body>

		<header>

			<div class="header-image-container">
				<img src="/expense.jpg" alt="Expense Tracker Logo">
			</div>

			<h1 class="site-title"><a href="#">Expense Tracker</a></h1>

		</header>

		{{{body}}}

	</body>

    <footer>
        <p class="footer-text">Created by: Jackson Perry and Robert Detjens</p>
		<p class="footer-text">For CS 290 with Rob Hess</p>
    </footer>

</html>
