<main class="content">

	<aside class="filter-container">

		<h2>Filters</h2>

		<div class="filter-input-container">
			<label for="filter-date" class="filter-input-label">Date</label>
			<div class="filter-input-element">
				<input type="text" name="filter-date" id="filter-date" class="filter-input">
			</div>
		</div>

		<div class="filter-input-container">
			<label for="filter-place" class="filter-input-label">Place</label>
			<div class="filter-input-element">
				<input type="text" name="filter-place" id="filter-place" class="filter-input">
			</div>
			
		</div>

        <div class="filter-input-container">
			<label for="filter-amount" class="filter-amount">Amount</label>
			<div class="filter-input-element">
				<input type="text" name="filter-amount" id="filter-amount-min" class="filter-input" placeholder="min">
			</div>
			<div class="filter-input-element">
				<input type="text" name="filter-amount" id="filter-amount-max" class="filter-input" placeholder="max">
			</div>
		</div>

        <div class="filter-input-container">
			<label for="filter-description" class="filter-description">Description</label>
			<div class="filter-input-element">
				<input type="text" name="filter-description" id="filter-description" class="filter-input">
			</div>
		</div>

		<div class="filter-input-container">
			<label for="filter-category">City</label>
			<div class="filter-input-element">
				<select id="filter-category" class="filter-input" name="filter-category">
					<option selected value="">Any</option>
					<option>Housing</option>
					<option>School</option>
					<option>Food</option>
                    <option>Investing</option>
                    <option>Health</option>
                    <option>Clothes</option>
					<option>Enertainment</option>
					<option>Other</option>
				</select>
			</div>
		</div>

		<button id="filter-update-button" class="action-button">Filter</button>

	</aside>
	
	<section id="expenses">
        <table id="expense-table">
            <tr id="expense-firstrow">
                <th id="expense-date">Date</th>
                <th id="expense-place">Place</th>
                <th id="expense-amount">Amount</th>
                <th id="expense-description">Description</th>
                <th id="expense-category">Category</th>
            </tr>
            {{#each row}}
			    {{> expenseTemp}}
		    {{/each}}
			<tr id="expense-newrow">
                <td id="expense-newdate"><input type="text" id="expense-label-newdate"></td>
                <td id="expense-newplace"><input type="text" id="expense-label-newplace"></td>
                <td id="expense-newamount"><input type="text" id="expense-label-newamount"></td>
                <td id="expense-newdescription"><input type="text" id="expense-label-newdescription"></td>
                <td id="expense-newcategory">
					<select id="expense-label-newcategory">
						<option selected value="">Any</option>
						<option>Housing</option>
						<option>School</option>
						<option>Food</option>
                    	<option>Investing</option>
                    	<option>Health</option>
                    	<option>Clothes</option>
						<option>Enertainment</option>
						<option>Other</option>
					</select>
				></td>
            </tr>
        </table>

	</section>
	<input id="expense-add-button" type="image" src="https://cdn2.iconfinder.com/data/icons/small-buttons/64/Button_not_pressed_with_add_icon-512.png"/>

</main>
