<div id="container">       
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <input id="submit-button" type="button" value="Login">
    </form>
</div>
